footer{
    margin-top: 2rem;
    background-color: white;
    /* width: 100vw; */

}

.footer_items{
    margin-top:rem;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 1rem;
    
}
.footer_element{
    margin-top: 3rem;
}
.footer_element>h4{
    text-transform: uppercase;
    opacity: .7;
}

.footer_content{
    /* height: 10rem; */
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 2rem;
}
.footer_content>div{
    text-align: justify;
    margin-top: .8rem;
    
}
.footer_content>div>p{
    font-size: .9rem;
    opacity: .7;
}

.footer_tweet>h6{
    margin-top: .6rem;
    opacity: .7;
}

.footer_search_field{
    margin-top: 4rem !important;
}

.footer_social_icons{
    margin-top: 4rem !important;
    font-size: 1.5rem;
    height: 3rem;
    display: grid;
    grid-template-columns: repeat(3,1fr)

}

.footer_social_icons>i{
    opacity: .6;
    border: 1px solid var(--secondary_color);
    background-color: none;
    text-align: center;
    border-radius: 200rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 52px;
    background-color: var(--secondary_color);
    color: white;
    cursor: pointer;
    
}

.footer_social_icons>i:hover{
    border: 2px solid var(--primary_color);
    color: var(--primary_color);
}


.copyright_content{
    margin-top: 1.5rem;
    /* margin-bottom: 1rem; */
    text-align: center;
    height: 2rem;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;

}
.copyright_content>h5{
    opacity: .7;
    font-family: 'Noto Sans', sans-serif;
    text-transform: capitalize;


}

@media only screen and (max-width: 900px){
    .footer_items{
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-items: center;
    }
}
